/*
색테마
빨강 : #ed1a44
파랑 : #4695fa
민트 : #39ddba
갈색 : #c2a66c
*/  

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css'); 
.nanummyeongjo{ font-family: 'Nanum Myeongjo', serif; }
*{
  font-family: 'Montserrat', sans-serif;
}
.center{
  text-align:center;
}
.m0{
  margin-bottom:0; 
}
.right{
  text-align: right;
}
.gray{
  color :#aaa; 
}
.songWrap{
  padding: 10px;
  background: #39ddba;
  border-radius: 10px;
  color: white;
}
.tagWrap{
  padding: 5px 0px;
  border-bottom: .5px solid #ed1a44;
  margin: 5px;
  box-sizing: border-box;
  display: inline-block; 
}
.activeTag{
  background-color: #ed1a44; 
  border-radius: 5px;
  padding:6px;
}
.activeTag > a{
  color: white;
}
.lylic{
  display:block; 
  margin-bottom: 10px;
} 
iframe{
  border: none;
  border-radius: 10px;
  margin-top:40px;
} 
body { 
  max-width: 442px;
  margin: 8px auto;  
} 
#root{
  position: relative;
}
nav{  
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #ed1a44 50%, #39ddba 50%);
  -webkit-transition: background-position .3s; 
  -moz-transition: background-position .3s; 
  transition: background-position .3s; 
  position: sticky; 
  top:52px;  
  z-index: 3;  
}  
nav.backBlue{
  background-position: 0 -100%; 
}
.mainWrap > p{
  font-size: 2rem;
  margin: 0 auto;
  font-weight: 100;
  margin-top: 18px;
}
.listItem img{
  width: 270px;
  height: 400px;
}
nav li{
  list-style: none; 
  padding : 10px;  
}
nav ul{
  margin : 0 auto; 
  padding : 0; 
  display:flex; 
  justify-content: space-around;
  align-items: center;
}
nav li a {  
  color : white; 
}
a{
  text-decoration: none; 
  color: black; 
}
@keyframes fadein {
  from { opacity: 0; transform: translateY(10px);}
  to   { opacity: 1; transform: translateY(0px);}
}
.TopSong_span{ 
  padding: 3px;
  background: black;
  color: white;
  top: 11px;
  position: relative;
  z-index: 1;
  font-size: 0.7rem;
}
.TopSong_title{
  text-align: center;
  margin-top: 5px;
}