@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
/*
색테마
빨강 : #ed1a44
파랑 : #4695fa
민트 : #39ddba
갈색 : #c2a66c

*/ 

body {
  margin: 8px;
  font-family: 'Nanum Gothic', sans-serif;
} 
nav{
  background: #ed1a44;  
  position: sticky; 
  top:52px;  
  z-index: 3; 
} 

nav li{
  list-style: none; 
  padding : 10px;  
}
nav ul{
  margin : 0 auto; 
  padding : 0; 
  display:flex; 
  justify-content: space-around;
  align-items: center;
}
nav li a {  
  color : white; 
}
a{
  text-decoration: none; 
}
@keyframes fadein {
  from { opacity: 0; transform: translateY(10px);}
  to   { opacity: 1; transform: translateY(0px);}
}
