@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

.montrait{
  font-family: 'Montserrat', sans-serif;
}
.nanummyeongjo{
  font-weight: lighter;
} 
*{
  font-family: 'Montserrat', sans-serif;
}
.center{
  text-align:center;
}
.m0{
  margin-bottom:0; 
}
.right{
  text-align: right;
}
.gray{
  color :#aaa; 
}
.songWrap{
  padding: 10px;
  background: #39ddba;
  border-radius: 10px;
  color: white;
}
.tagWrap{
  padding: 5px; 
  border-bottom: .5px solid #ed1a44;
}
.lylic{
  display:block; 
  margin-bottom: 10px;
}
/*
색테마
빨강 : #ed1a44
파랑 : #4695fa
민트 : #39ddba
갈색 : #c2a66c

*/ 
iframe{
  border: none;
  border-radius: 10px;
  margin-top:40px;
} 
body {
  max-width: 375px;
  margin: 8px auto; 
  font-family: 'Nanum Gothic', sans-serif;
} 
#root{
  position: relative;
}
nav{  
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #ed1a44 50%, #39ddba 50%);
  -webkit-transition: background-position .3s; 
  -moz-transition: background-position .3s; 
  transition: background-position .3s; 
  position: sticky; 
  top:52px;  
  z-index: 3;  
}  
nav.backBlue{
  background-position: 0 -100%; 
}

nav li{
  list-style: none; 
  padding : 10px;  
}
nav ul{
  margin : 0 auto; 
  padding : 0; 
  display:flex; 
  justify-content: space-around;
  align-items: center;
}
nav li a {  
  color : white; 
}
a{
  text-decoration: none; 
  color: black; 
}
@keyframes fadein {
  from { opacity: 0; transform: translateY(10px);}
  to   { opacity: 1; transform: translateY(0px);}
}
